     .card-header{
       background-color:  #4CAF50;
     }
     
     .form-section {
            display: none;
        }

        .form-section.active {
            display: block;
            animation: fadeIn 0.5s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .progress {
            height: 10px;
        }

        .invalid-feedback {
            display: none;
            color: #dc3545;
        }

        .was-validated .form-control:invalid~.invalid-feedback,
        .was-validated .form-check-input:invalid~.invalid-feedback {
            display: block;
        }

        .step-indicator {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .step {
            text-align: center;
            position: relative;
            flex: 1;
        }

        .step-number {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            background-color: #dee2e6;
            color: #495057;
            display: inline-block;
            margin-bottom: 10px;
        }

        .step.active .step-number {
            background-color: #4CAF50;
            color: white;
        }

        .step.completed .step-number {
            background-color: #198754;
            color: white;
        }

        .step-title {
            font-size: 14px;
            color: #6c757d;
        }

        .step.active .step-title {
            color: #4CAF50;
            font-weight: bold;
        }

        .step.completed .step-title {
            color: #198754;
        }



        .pdf-box {
            border: 2px solid #333;
            padding: 20px;
            border-radius: 10px;
            font-family: Arial, sans-serif;
        }


        #pdf-output {
            max-width: 800px;
            margin: auto;
            font-size: 14px;
            color: #222;
        }

        #pdf-output h2,
        #pdf-output h3 {
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }

        #pdf-output p {
            margin: 3px 0;
        }

        #pdf-output strong {
            display: inline-block;
            width: 200px;
        }
